<div *ngIf="pilot; else elseBlock">
  <div class="modal-header">
    <h4 class="modal-title">{{ pilot.name }}</h4>
  </div>
  <div class="modal-body">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td><b>Height:</b> {{ pilot.height }}</td>
          <td><b>Mass:</b> {{ pilot.mass }}</td>
        </tr>
        <tr>
          <td><b>Hair Color:</b> {{ pilot.hair_color }}</td>
          <td><b>Skin Color:</b> {{ pilot.skin_color }}</td>
        </tr>
        <tr>
          <td><b>Eye Color:</b> {{ pilot.eye_color }}</td>
          <td><b>Birth Year:</b> {{ pilot.birth_year }}</td>
        </tr>
        <tr>
          <td><b>Gender:</b> {{ pilot.gender }}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="activeModal.close()"
    >
      Close
    </button>
  </div>
</div>
<ng-template #elseBlock><div style="height: 385px;"></div></ng-template>
